.user-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 260px;
    padding: 2px;
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 3px 5px 11px 1px #666;
}

.user-card div{
    padding: 2px;
}

.user-card img{
    display: flex;
}